p {
    color: white;
    background-color: #34495E ;
    border-radius: 20px;
    padding: 21px;
    padding-left: 50px;
    padding-right: 50px;
    
    
}

div {
    background-color:rgb(205, 201, 201);
    padding: 20px;
}